﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.action {
    color: gray;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

.message {
    color: green;
}