﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obvy Home Library</h2>

<h4>Add new book</h4>
<table class="table-condensed">
    <tr>
        <td>ISBN (10 or 13)</td>
        <td><input type="text" id="searchDataIsbnCodeTextbox" maxlength="13" onkeyup="filterNotNumChar(event);" /></td>
        <td><input type="button" value="Find book by ISBN" onclick="getData();" /></td>
    </tr>
</table>
<div id="searchDataResult" style="display: none;">
    <table class="table-condensed">
        <tr>
            <th>ISBN 10</th>
            <td><span id="dataIsbn10"></span></td>
        </tr>
        <tr>
            <th>ISBN 13</th>
            <td><span id="dataIsbn13"></span></td>
        </tr>
        <tr>
            <th>Title</th>
            <td><span id="dataTitle"></span></td>
        </tr>
        <tr>
            <th>Author</th>
            <td><span id="dataAuthor"></span></td>
        </tr>
        <tr>
            <th>Genre</th>
            <td><span id="dataGenre"></span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" value="Add to the store" onclick="add();" /></td>
        </tr>
    </table>
</div>

<h4>Search book store</h4>
<table class="table-condensed text-nowrap">
    <tr>
        <td>ISBN 10</td>
        <td><input type="text" id="searchIsbn10Textbox" /></td>
        <td>ISBN 13</td>
        <td><input type="text" id="searchIsbn13Textbox" /></td>
        <td>Title</td>
        <td><input type="text" id="searchTitleTextbox" /></td>
        <td>Author</td>
        <td><input type="text" id="searchAuthorTextbox" /></td>
        <td>Genre</td>
        <td><input type="text" id="searchGenreTextbox" /></td>
        <td><input type="button" value="Search" onclick="search();" /></td>
    </tr>
</table>
<table class="table table-condensed table-striped" id="searchResultsTable" style="display: none;">
    <thead>
        <tr>
            <th>ISBN 10</th>
            <th>ISBN 13</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="searchResultsBody"></tbody>
</table>

<div id="details" style="display: none;">
    <h4>Book details</h4>
    <input type="hidden" id="detailsIdHidden" />
    <table class="table-condensed">
        <tr>
            <th>ISBN 10</th>
            <td><span id="detailsIsbn10"></span></td>
        </tr>
        <tr>
            <th>ISBN 13</th>
            <td><span id="detailsIsbn13"></span></td>
        </tr>
        <tr>
            <th>Title</th>
            <td><span id="detailsTitle"></span></td>
        </tr>
        <tr>
            <th>Author</th>
            <td><span id="detailsAuthor"></span></td>
        </tr>
        <tr>
            <th>Genre</th>
            <td><span id="detailsGenre"></span></td>
        </tr>
    </table>
    <table class="table-condensed" id="detailsIsBorrowedTable" style="display: none;">
        <tr>
            <th>Borrowed by</th>
            <td><span id="detailsBorrowName"></span></td>
        </tr>
        <tr>
            <th>Borrow date / time</th>
            <td><span id="detailsBorrowDate"></span>&nbsp;<span id="detailsBorrowTime"></span></td>
        </tr>
        <tr>
            <th>Borrow comment</th>
            <td><span id="detailsBorrowComment"></span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" value="Recover the book" onclick="recover();" /></td>
        </tr>
    </table>
    <table class="table-condensed" id="detailsIsNotBorrowedTable" style="display: none;">
        <tr>
            <th>Lend to</th>
            <td><input type="text" id="detailsBorrowNameTextbox" /></td>
        </tr>
        <tr>
            <th>Comment</th>
            <td><input type="text" id="detailsBorrowCommentTextbox" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" value="Lend the book" onclick="lend();" /></td>
        </tr>
    </table>
</div>

<h4>History</h4>
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="col-xs-1">Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody id="messagesHistoryBody"></tbody>
</table>